<h1>hi</h1>

<table> 

<% @photos.each do |photo| %>

<%  if photo.user_id == current_user.id %>

      <tr>
        <td><%= photo.caption %></td>
        <td><img src="<%= photo.image %>" class="img-responsive"></td>
        <td><%= photo.user_id %></td>
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>

  <% end %>

<% end %>

</table>