<div class="page-header">
  <h1>
    <!--Photos-->
    <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </h1>
</div>


      <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          
          <%= photo.user_id %>
          
        </h3>
      </div>
      <div class="panel-body">

      <tr>
        <td><%= photo.caption %></td>
        <td><img src="<%= photo.image %>" class="img-responsive"></td>

        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          
        <% if photo.user_id == current_user.id  %>

          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
       
       <% end %>
       
        </td>
      </tr>
      </div>
      </div>
      
      <% end %>

