<div class="page-header">

    <!--Photos-->
    <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
    
  <p> <%= @user_id %> </p>
  

</div>


      <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          
          <%= photo.user.username %>
          
        </h3>
      </div>
      <div class="panel-body">

      <tr>
        <td><%= photo.caption %></td>
        <td><img src="<%= photo.image %>" class="img-responsive"></td>
         
        <td> 
          ago  <br />
        </td>
        
        <td>
          <% @comments.each do |comment| %>
            <% if comment.photo_id == photo.id %>
                <a href="/user/<%=comment.user.id%>"><%= comment.user.username %></a>
                <p> <%= comment.body %> </p>
            <% end %>
          <% end %>
          
        </td>
<!--start of comments form -->
        <td>
          
      <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->
        <input type="hidden" class="form-control" value="<%= photo.id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @comment.body %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @comment.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Comment
      </button>

    </form>
          
<!--end comment form -->
          
        </td>
        
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          
        <% if photo.user_id == @user_id  %>

          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
       
       <% end %>
       
        </td>
      </tr>
      </div>
      </div>
      
      <% end %>

